<app-header></app-header>
<div class="detail-sektion">
  <div>
    <img class="bild" src="./../../assets/category-images/berge.jpg">
  </div>
    <div class="container detail-headline">
      <h1>{{blogEntries[index].title}}</h1>
      <h2>{{blogEntries[index].subtitle}}</h2>
      <p class="autor">Autor: {{blogEntries[index].author}}</p>
      <p class="data">Erstellt am {{blogEntries[index].createdOn}}</p>
    </div>
    <div class=" container detail-content">
      <p>
          {{blogEntries[index].content}}
      </p>
    </div>
</div>
