.detail-sektion {
  width: 100%;
}

.detailTextblock{
  max-width: 800px;
  margin: 0 auto;
}

.detail-headline {
  margin-top: 25px;
  padding: 15px;
}

.detail-headline h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #2b626c;
  cursor: pointer;
}

.detail-headline h2 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #70bda1;
  cursor: pointer;
}

.detail-headline .autor {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  cursor: pointer;
  margin-bottom: 0;
}

.detail-headline .data {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.detail-content p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #707070;
  cursor: pointer;
  line-height: 160%;
}
.bild {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
