::ng-deep .mat-mini-fab {
  background-color:  #70bda1 !important;
 }

@media (min-width: 768px) {
  .mat-mini-fab {
    width: 60px;
    height: 60px;
  }
}

 ::ng-deep .mat-fab {
  background-color:  #70bda1 !important;
 }

ul {
  position: relative;
  top:15px;
  left: -20px;
  position: fixed;
  z-index: 10;
}
