.background {
  width: 100%;
  height: 100vh;
  background-image: url(./../../assets/img/background.png);
  background-position: bottom;
  background-size: cover;
}

.headline-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.headline-wrapper h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
  line-height: normal;
  cursor: pointer;
}

.headline-wrapper h2 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  line-height: normal;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.button-wrapper ul {
  padding: 0;
}

.button-wrapper .btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 8rem;
  padding: 7px 14px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.white {
  background-color: #fff;
  color: #13324d;
}

.green {
  background-color: #70bda1;
  color: #fff;
}
