.background {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.headline-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 50px;
}

.headline-wrapper h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #2b626c;
  cursor: pointer;
  text-align: center;

}

.headline-wrapper h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #70bda1;
  cursor: pointer;
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.form-container > * {
  width: 100%;
}
::ng-deep .mat-form-field {
  margin-bottom: 10px;
  font-size: 16px;
 }

.mat-hint{
  font-size: 14px;
}
::ng-deep .mat-focused .mat-form-field-label {
  color:  #70bda1 !important;
 }
 ::ng-deep .mat-focused .mat-form-field-outline {
  color:  #70bda1 !important;
 }
 input[type=submit] {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding:10px 30px;
	width:auto;
	background:#70bda1;
  border: none;
	border-radius: 20px;
	color:white;
	cursor:pointer;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}

.submitBtn{
  display: block;
  margin: 0 auto;
}
