.background {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}

.headline-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.headline-wrapper h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #2b626c;
  cursor: pointer;
  text-align: center;

}

.headline-wrapper h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #70bda1;
  cursor: pointer;
  text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-container > * {
  width: 100%;
}
::ng-deep .mat-focused .mat-form-field-label {
  color:  #70bda1 !important;
 }
 ::ng-deep .mat-focused .mat-form-field-outline {
  color:  #70bda1 !important;
 }
 ::ng-deep .mat-stroked-button {
  background-color:  #70bda1 !important;
  color: white;
 }
