<app-header></app-header>
<div class="overview-sektion">
  <div class="container">
    <div class="overview-wrapper">
      <div class="overview-headline">
        <h1>Your Travelbook</h1>
        <h2>A journey of a thousand miles must begin with a blog.</h2>
      </div>
      <ul>
        <li *ngFor="let blog of blogEntries; let i = index" (click)="routeDetailPage(i)">
          <div class="overview container">
            <div class="blogBox row">
              <div class="blogImg col-5"></div>
              <div class="blogContent col-7">
                <h3>{{blog.title}}</h3>
                <h4>{{ blog.subtitle}}</h4>
                <p class="autor">Autor: {{blog.author}}</p>
                <p class="data">Erstellt am {{blog.createdOn}}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    <div class="add-button" routerLink="../erstellen">
      <button mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
